<!DOCTYPE html>
<html>
<head>
  <title>Weather Forecast</title>
</head>
<body>

<section class="container mt-5">
  <h1>Weather forecast</h1>
  <p class="lead">
    Choose one of the most beautiful cities in the world!
  </p>
  <form id="weather-form">
    <select class="form-control" name="city">
      <option>Choose city...</option>
      <option data-country-code="ca" value="toronto">Toronto, Canada</option>
      <option data-country-code="pl" value="krakow">Krakow, Poland </option>
      <option data-country-code="it" value="syracuse">Syracuse, Italy</option>
    </select>
  </form>
</section>
<section class="container">
  <div class="row">
    <ul class="col-12 list-unstyled" id="results"></ul>
  </div>
</section>
</body>
</html>


