@import '../../node_modules/bootstrap/scss/mixins';

section {
  margin-bottom: 30px;
  font-weight: 100;
  text-align: center;
}

.day {
  display: flex;
  padding: 20px;
  color: #333;
  text-align: left;
  border-bottom: 1px solid #e4e4e4;

  justify-content: space-between;
  @include clearfix();
}


.temperature {
  text-align: right;

  @include clearfix();
  flex: 1 0 0;

  .temp-main {
    font-size: 30px;
    text-align: center;
  }
}

.info {
  flex: 3 0 0;
}

.weather {
  margin: 0 0 10px;
  font-weight: 300;
  text-transform: capitalize;
}

.winds {
  svg {
    width: 18px;
    height: 18px;
    transform-origin: 9px 9px;

    fill: #333;
  }
  // background: #efefef;
  // border: 1px solid black;
  // width: 100%;
  // height: auto;
}
